body
{
    margin: 0;
    padding: 0;

    background-color: #E3E9F0;

    font-family: "Bitter", "Roboto", "Avenir", "Montserrat";
}

.header
{
    margin: 0;
    padding: 0;

    height: 32px;

    background-color: #597DA6;
}

.header-content
{
    width: 80%;
    height: 100%;
    margin: auto;
    outline: none;
    /* float: left; */
}

.header-content #btn-brand
{
    height: 100%;
    width: 15%;
    margin: auto 20px;
    
    background-color: transparent;
    border-color: transparent;
    
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    font-size: 16pt;
}

.header-content #btn-dropdown
{
    height: 100%;
    width: 15%;
    margin: auto 20px;

    background-color: transparent;
    border-color: transparent;
    
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    font-size: 16pt;
}

.header-content #inp-search
{
    height: 60%;
    width: 15%;
    margin: auto 20px;
    
    background-color: #ACBED6;
    border-color: transparent;
    border-radius: 5px;
    
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: left;
    font-size: 14pt;
}

.header-content #btn-profile
{
    height: 100%;
    width: 15%;
    margin: auto 20px;
    float: right;
    
    background-color: transparent;
    border-color: transparent;
    outline: none;
    
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    font-size: 16pt;
}

.base
{
    height: 100%;
    width: 80%;
    margin: auto;

    background-color: white;
}

.base .breadcrumbs
{
    width: 100%;

    background-color: #D7D7D7;
}

.base .breadcrumbs a
{
    margin: auto 20px;
}

h1
{
    text-align: center;
    font-weight: 700;

    margin: 0;
    padding-top: 16px;
}

h2
{
    font-weight: 700;
}

.content
{
    margin: auto 64px;
}
.content ul
{
    padding: 0 20px;
    list-style-type: none;
}
.content ul li a
{
    font-size: 1.25em;
    color: #373737;

    transition: color 0.2s ease-out;
    --webkit-transition: color 0.2s ease-out;
    --moz-transition: color 0.2s ease-out;
}
#link-NA:hover
{
    color: #2B5FC7;
}
#link-LA:hover
{
    color: #FFA868;
}
#link-GEO:hover
{
    color: #D27E7E;
}
#link-FC:hover
{
    color: #91B56A;
}
#link-DM:hover
{
    color: #D27EC8;
}

.box-info
{
    margin: 20px;
    padding: 10px;

    background-color: #E3E9F0;
    border-radius: 20px;
    border: 4px solid coral;

    text-align: center;
}

.gallery
{
    margin: 0 20px;
    padding: 0 20px;
    background-color: white;
    display: table-cell;
    text-align: center;
}

.gallery-content
{
    margin: 5px;

    position: relative;

    float: left;
    width: 180px;

    outline: none;

    transition: color 0.2s ease-out;
    --webkit-transition: color 0.2s;
    --moz-transition: color 0.2s;
}
.gallery-content img
{
    width: 180px;
    height: 180px;
    display: block;

    margin: 0 auto;
    /* vertical-align: middle; */

    transition: opacity 0.2s ease-out;
    --webkit-transition: opacity 0.2s ease-out;
    --moz-transition: opacity 0.2s ease-out;
}

.gallery-content:hover
{
    color: #A8A8A8;
}
.gallery-content img:hover
{
    opacity: .7;
}
.gallery-content .img-container
{
    width: 180px;
    height: 180px;
}

#topic-numbers_and_algebra
{
    background-color: #DEE6F8;
}
#topic-numbers_and_algebra:hover
{
    color: #2B5FC7;
    background-color: transparent;
}

#topic-linear_algebra
{
    background-color: #FFE7D6;
}
#topic-linear_algebra:hover
{
    color: #FFA868;
    background-color: transparent;
}

#topic-geometry:hover
{
    color: #D27E7E;
}

#topic-functions_and_curves:hover
{
    color: #91B56A;
}

#topic-discrete_mathematics:hover
{
    color: #D27EC8;
}

/* .gallery-content img
{
    width: 100%;
    height: auto;

    margin: 0;
    padding: 0;
} */

.image-title
{
    padding: 15px;
    text-align: center;

    font-size: 1.75em;
    height: 65px;

    border-radius: 16px 16px 0 0;
    border: 1px solid #ccc;
}

/* Correcting line height manually */
#topic-geometry
{
    line-height: 65px;
    overflow: hidden;
}