body
{
    margin: 0;
    padding: 0;

    background-color: #E3E9F0;

    font-family: "Bitter", "Roboto", "Avenir", "Montserrat";
}

.header
{
    margin: 0;
    padding: 0;

    height: 32px;

    background-color: #597DA6;
}

.header-content
{
    width: 80%;
    height: 100%;
    margin: auto;
    outline: none;
    /* float: left; */
}

.header-content #btn-brand
{
    height: 100%;
    width: 15%;
    margin: auto 20px;
    
    background-color: transparent;
    border-color: transparent;
    
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    font-size: 16pt;
}

.header-content #btn-dropdown
{
    height: 100%;
    width: 15%;
    margin: auto 20px;

    background-color: transparent;
    border-color: transparent;
    
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    font-size: 16pt;
}

.header-content #inp-search
{
    height: 60%;
    width: 15%;
    margin: auto 20px;
    
    background-color: #ACBED6;
    border-color: transparent;
    border-radius: 5px;
    
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: left;
    font-size: 14pt;
}

.header-content #btn-profile
{
    height: 100%;
    width: 15%;
    margin: auto 20px;
    float: right;
    
    background-color: transparent;
    border-color: transparent;
    outline: none;
    
    color: white;
    font-weight: 500;
    letter-spacing: 2px;
    text-align: center;
    font-size: 16pt;
}

.base
{
    height: 100%;
    width: 80%;
    margin: auto;

    background-color: white;
}

.base .breadcrumbs
{
    width: 100%;

    background-color: #D7D7D7;
}

.base .breadcrumbs a
{
    margin: auto 20px;
}

.base h1
{
    text-align: center;
}

.content
{
    margin: auto 64px;
}

.grid
{
    background-color: white;
}

.square
{
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
    border-radius: 5%;

    transition: background-color 0.3s ease-out, border-radius 0.3s ease-out;
    --webkit-transition: background-color 0.6s ease-out;
    --moz-transition: background-color 0.6s ease-out;
}

.square:hover
{
    border-radius: 50%;
}

.box-info
{
    margin: 20px;
    padding: 10px;

    background-color: coral;
    border-radius: 10px;
}