.green
{
    text-align: center;
    color: #86D374;
}
.red
{
    text-align: center;
    color: #FF7878;
}
.blue
{
    color: #78A5FF;
}

.h1less
{
    font-size: 42px;
    font-weight: 400;
}
.h2less
{
    font-size: 30px;
    font-weight: 300;
}

.col-md-9 .imgCentered
{
    display: block;
    margin: 0 auto;
}